# Environment Variables
.env

# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database
data/
!data/.keep
data/tmp_exports/
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

#Docs
docs/.07_prompt.md
